/* sheet for form practice section*/
.pic-left {
  background-image: url(./images/carl-raw-m3hn2Kn5Bns-unsplash.jpg);
  width: 80vh;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  position: relative;
}

body {
  margin: 0;
}

.credit {
  position:absolute;
  text-align: center; 
  bottom: 0;
  width: 100%;
  color: white;
}

