/* sheet for form practice section*/
.pic-left {
  background-image: url(./images/carl-raw-m3hn2Kn5Bns-unsplash.jpg);
  width: 80vh;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  position: absolute;
}

body {
  margin: 0;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  flex-direction: column;
  
}

.credit {
  position:absolute;
  text-align: center; 
  bottom: 0;
  width: 100%;
  color: white;
}

p {
  text-align: center;
  height: 30%;
  width: 30%;
  margin-left: 50%;
  margin-top: 10%;
}

.form-section {
  box-shadow: 0 4px 2px -2px gray;
  height: 30%;
  width: 30%;
  margin-left: 50%;
  
  
}