/* sheet for form practice section*/
.picture {
    max-width: 50%;
    height: 100%;
}

body {
    position: relative;
    height: 100vh;
    margin: 0;
}

.credit-heading {
  position: absolute;
  width: 100%;
  color: white;
  left: 15rem;
  top: 45rem; 
  font-size: 1.2em;

}